body {
    font-family: 'Montserrat', sans-serif;
    margin: 0%;
    inline-size: block;
}

div {
    display: block;
}

h1 {
    font-size: 62px;
    font-style: bold;
    color: gray;
}

h2 {
    color: grey;
    font-style: bold;
    font-size: 40px;
}

.orange-color {
    color: orange;
}

a {
    font-size: 18px;
}

.link-btn {
    text-decoration: none;
    background-image: linear-gradient(salmon, red);
    padding: 35px 60px;
    border-radius: 50px;
    color: white;
    font-weight: 900;

}

.half-width {
    text-align: justify;
    width: 50%;
    padding: 50px;
    margin-left: 40px;
}

.half-width img {
    width: 80%;
    padding-left: 5px;
    padding: 26px;
}

.half-width p {
    font-size: 20px;
    color: #9a9797;
}

.flexible-container {
    display: flex;
}

.half-width-second {
    text-align: justify;
    width: 50%;
    padding: 5%;
    margin-left: 10px;
    height: 100%;
}

.half-width-second p {
    font-size: 20px;
}

.first-section {
    background-image: url(images/shapes/Frame\ 59.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.secnd-section {
    background-image: url(images/shapes/Frame\ 57.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.half-width-third {
    text-align: center;

}

.half-width-third p {
    font-size: 19px;
}

.foods-recipes {
    display: flex;
    padding: 20px;
}

.food {
    margin-left: 3%;
    margin-right: 3%;
    box-shadow: 5px 5px 15px grey;
    border-radius: 15px;
}

.food img {
    width: 90%;
    padding: 5%;
}

.recipe-title {
    margin-top: -45px;
    padding: 5%;
}

.recipe-title h3 {
    font-weight: bold;
}

.recipe-title p {
    font-size: 19px;
}

#border1 {
    border-left: 7px solid tomato;
    border-top: 7px solid orange;
    border-right: 7px solid yellowgreen;
    border-bottom: 7px solid lightblue;
}

#border2 {
    border-left: 7px solid blue;
    border-top: 7px solid indigo;
    border-right: 7px solid brown;
    border-bottom: 7px solid salmon;
}

.social {
    display: flex;
    padding-left: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 7%;
    height: 300px;
    border-radius: 40px;
    box-shadow: 2px 2px 3px 3px #9a9797;
    margin-bottom: 50px;
}

.all-social {
    margin: 8% 8%;
    padding: 0px;
    margin-top: 2%;

}

.small {
    font-weight: bold;
    padding: 50px 10px;
    font-size: 15px;


}

.all-social h1 {
    color: black;
    font-weight: bold;
}

footer {
    width: 100%;
    background-color: #0B0D17;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.orange {
    color: orangered;
}

.grey {
    color: grey;
}

footer p {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    padding: 30px 0;
}

footer h3 {
    font-weight: bold;
    font-size: 35px;
    padding: 30px 0;
}